/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/

$mobile-width: 375px;
$desktop-width: 1440px;

$main-font-size: 15px;

$border-radius: 15px;

$main-margin-bottom-gap: 1.5rem;
